@model IEnumerable<MovAlert.Models.Equipos>

@{
    ViewBag.Title = "Equipos";
}

<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <h2>Lista Clientes</h2>
                        </div>
                        <a href="@Url.Action("Create", "Equipos")" class="btn btn-primary"><i class="fas fa-tag"></i><span class="bot-line"></span> Nuevo Equipo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdEquipo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdCliente)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdEquipo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdCliente)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.IdEquipo }, new { @class = "btn btn-secondary" })
                                            @Html.ActionLink("Detalles", "Details", new { id = item.IdEquipo }, new { @class = "btn btn-info" })
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEquipo }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>